p {
  font-family: Lato;
}

.flex {
  display: flex;
}

.list {
  display: inline-block;
  background: lightgray;
  padding: 0.5rem;
}

.post {
  display: inline-block;
  flex-grow: 3;
  padding: 0.5rem 2rem;
}
